@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Quicksand", sans-serif;
}

.swiper-button-next, .swiper-button-prev{
    width: 25px !important;
    height: 35px !important;
    background-color: #3BB77E;
    border-radius: 8px;
    padding: 6px;
    color: #ffffff !important;
}